.search-user{
    border: none;
    border-radius: 10px;
    width: 90%;
    height: 30px;
    padding: 20px 10px;
    margin: 0 auto 20px;
}
.canvas{
    display: flex;
    flex-direction: column;
}

.users .user{
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 85%;
    margin: 5px auto;
    list-style: none;

    background-color: var(--dark);
}
.user a{
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 15px;
}
.user .user-left{
    display: flex;
    align-items: center;
    
}

.user-profile{
    width: 40px;
    margin-right: 10px;
    border-radius: 50%;
}

.totalStudents{
    background-color: var(--light);
    display: flex;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #939393;
}